/*    TAGS    */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    font-size: medium;
}

header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: medium;
    page-break-after: always;
}

h1, h2 {
    font-family: 'Neuton', serif;
}

h1 a:link, h1 a:visited, h1 a:active, h2 a:link, h2 a:visited, h2 a:active {
    text-decoration: none;
    color: black;
}

h1 a:hover, h2 a:hover {
    text-decoration: none;
    color: darkslategray;
}

h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

/*    CLASSES    */

.link-home {
    font-family: 'Neuton', serif;
    font-size: xx-large;
}

.link-home:hover {
    color: darkslategray;
}

.filler {
    color: cadetblue;
    text-align: center;
}

.paragraph-text a:link, .paragraph-text a:visited, .paragraph-text a:active {
    text-decoration: none;
    color: black;
}

.paragraph-text a:hover {
    text-decoration: none;
    color: darkslategray;
}

.bg-coral {
    background-color: coral;
}

.bg-firebrick {
    background-color: firebrick;
    color: white;

}

.text-coral {
    color: coral;
}

/*    BOOTSTRAP OVERRIDES    */
