{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <link rel="shortcut icon" type="image/png"
          href="{% static 'image/favicon.png' %}">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo|Montserrat|Neuton"
          rel="stylesheet">
    <link type="text/css" href="{% static 'css/cites.css' %}" rel="stylesheet">

    {% block stylesheet %}{% endblock %}

    <title>{% block title %}PARACITE AF{% endblock %}</title>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
        <a class="navbar-brand link-home" href="{% url 'cites:index' %}">
            <img class="d-inline-block align-top"
                 src="{% static 'image/favicon.png' %}"
                 width="32"
                 height="32"
                 alt="bio-hazard">
            (Para)llel (Cite)ations
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="glyphicon glyphicon-plus"></span>NewStory</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    {% if error_message %}
        <h1>{{ error_message }}</h1>
    {% else %}
        {% block content %}{% endblock %}
    {% endif %}
</main>

{#<footer>#}
{#    Look at this fancy footer#}
{#TODO: make footer#}
{#</footer>#}
<script type="application/javascript"
        src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="application/javascript"
        src="{% static 'js/cites.js' %}"></script>
{% block javascript %} {% endblock %}

</body>
</html>