{% extends 'cites/base.html' %}

{% block title %}{{ story.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    <a href="{% url 'cites:detail_story' story.url %}">{{ story.title|title }}</a>
                </h1>
            </div>
        </div>
        {# Lead Paragraph #}
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="card bg-coral mb-4">
                    <div class="card-body pt-1 paragraph-text">
                        <b>{{ lead_paragraph.level }}({{ lead_paragraph.author }})</b>
                        <br>
                        <a href="{% url 'cites:detail_para' lead_paragraph.url %}">{{ lead_paragraph.text }}</a>
                    </div>
                    <div class="card-footer"
                         data-para-url="{% url "cites:vote" lead_paragraph.url %}">
                        <span class="score pull-left">{{ lead_paragraph.score }}&nbsp;</span>
                        {% include 'cites/paragraph_buttons.html' %}
                        <a class="btn btn-sm btn-secondary pull-right"
                           id="lead-para-res-btn"
                           data-toggle="collapse"
                           href="#response-div"
                           role="button"
                           aria-expanded="false"
                           aria-controls="collapseExample">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {# Response Form #}
        <div class="row collapse" id="response-div">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <form action="{% url "cites:post_para" lead_paragraph.url %}"
                      method="post">
                    {% csrf_token %}
                    <textarea class="form-control"
                              placeholder="Type the next paragraph"
                              rows="7"
                              type="text"
                              id="response-paragraph"
                              name="new-para"
                              title="Enter Your Next Paragraph"></textarea>
                    <button type="submit" class="btn bg-firebrick"
                            id="submit">Submit!
                    </button>
                </form>
            </div>
        </div>
        {# Child Chains #}
        <div class="row">
            {% for paragraph_chain in paragraphs %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    {% for paragraph in paragraph_chain %}
                        <div class="card mb-2">
                            <div class="card-body pt-1 paragraph-text">
                                <b>{{ paragraph.level }}&nbsp;({{ paragraph.author }})</b>
                                <br>
                                <a href="{% url 'cites:detail_para' paragraph.url %}">{{ paragraph.text }}</a>
                            </div>
                            <div class="card-footer"
                                 data-para-url="{% url 'cites:vote' paragraph.url %}">
                                <span class="score pull-left">{{ paragraph.score }}&nbsp;</span>
                                {% include 'cites/paragraph_buttons.html' %}
                                <a class="btn btn-sm btn-secondary pull-right make-response"
                                   role="button"
                                   data-response-url="{% url 'cites:detail_para_response' paragraph.url %}"
                                   style="color: white">
                                    {# why do I have to add this style?? #}
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                {# TODO: Hide more columns on smaller screens #}
            {% endfor %}
            {% for filler in fillers %}
                <div class="col-lg-3 col-md-4 d-xl-block d-lg-block d-none paragraph-text">
                    <div class="filler well">
                        {{ filler.filler }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $('.vote-btn').on('click', function () {
            var voteVal = +($(this).attr('data-vote'));
            var paraURL = $(this).parent().parent().attr('data-para-url');
            var scoreSpan = $(this).parent().siblings(".score")[0];

            function vote_success(data) {
                if (data.success) {
                    var oldScore = +($(scoreSpan).text());
                    var newScore = oldScore + voteVal;
                    $(scoreSpan).text(newScore.toString());
                } else {
                    {# TODO: Add error handling/reporting #}
                }
            }

            $.post(paraURL, {"v": voteVal}, vote_success, 'json');
        });

        $('.make-response').on('click', function () {
            var paraURL = $(this).attr('data-response-url');
            window.location.replace(paraURL);
        });
        {% if responding %}
            $(document).ready(function () {
                $('#response-div').collapse('show');
            });
        {% endif %}
    </script>
{% endblock %}