{% extends 'cites/base.html' %}

{% block title %}Top Stories{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Top Stories</h1>
        </div>
        {#TODO: if user logged in, link to profile#}
        <div class="row bg-coral">
            <div class="col-lg-3 col-md-3 col-sm-3"><h2>Story Title</h2></div>
            <div class="col-lg-3 col-md-3 d-md-block d-sm-none d-none">
                <h2>Author</h2></div>
            <div class="col-lg-6 col-md-6 col-sm-9"><h2>Preview</h2></div>
        </div>
        <br>
        {% for story_preview in stories_previews %}
            <div class="row bg-white">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a class="text-coral"
                       href="{% url 'cites:detail_story' story_preview.story.url %}">
                        <b>{{ story_preview.story.title|title }}</b>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 d-md-block d-sm-none d-none">
                    {{ story_preview.story.author }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-9">
                    {{ story_preview.preview.text }}
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}