{% extends 'cites/base.html' %}

{% block title %}Top Stories{% endblock %}

{% block content %}
    <h1>Top Stories</h1>
    {#TODO: if user logged in, link to profile#}
    <h3>categories | top stories | log in</h3>
    <br>
    <table>
        <tbody>
        <col width="20%">
        <col width="10%">
        <tr>
            <th><h3>
                Story Title
            </h3></th>
            <th><h3>
                Author
            </h3></th>
            <th><h3>
                Preview
            </h3></th>
        </tr>
        {% for story_preview in stories_previews %}
            <tr>
                <td class="story-preview">
                    <a href="{% url 'cites:detail_story' story_preview.story.url %}">
                        {{ story_preview.story.title|title }}
                    </a>
                </td>
                <td class="story-preview"><span class="author">
                    {{ story_preview.story.author }}
                </span>
                </td>
                <td class="story-preview">
                    {{ story_preview.preview.text }}
                    <br>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}