<div class="btn-group" role="group">
    <button type="submit"
            class="btn vote-btn"
            data-vote="4">
        <span class="glyphicon glyphicon-triangle-top"></span>
    </button>
    <button type="button"
            class="btn vote-btn"
            data-vote="3">
        <span class="glyphicon glyphicon-menu-up"></span>
    </button>
    <button type="button"
            class="btn vote-btn"
            data-vote="1">
        <span class="glyphicon glyphicon-menu-down"></span>
    </button>
    <button type="button"
            class="btn vote-btn"
            data-vote="0">
        <span class="glyphicon glyphicon-triangle-bottom"></span>
    </button>
</div>