<div class="btn-group d-inline" role="group">
    <a role="button"
       href="#"
       class="btn btn-sm btn-outline-dark vote-btn"
       data-vote="4">
        <span class="glyphicon glyphicon-triangle-top"></span>
    </a>
    <a role="button"
       href="#"
       class="btn btn-sm btn-outline-dark vote-btn"
       data-vote="3">
        <span class="glyphicon glyphicon-menu-up"></span>
    </a>
    <a role="button"
       href="#"
       class="btn btn-sm btn-outline-dark vote-btn"
       data-vote="1">
        <span class="glyphicon glyphicon-menu-down"></span>
    </a>
    <a role="button"
       href="#"
       class="btn btn-sm btn-outline-dark vote-btn"
       data-vote="0">
        <span class="glyphicon glyphicon-triangle-bottom"></span>
    </a>
</div>