{% extends 'base.html' %}

{% block title %}Create New User{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Create A New User</h2>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% include 'form_template.html' %}
                            <input type="submit"
                                    class="btn bg-firebrick"
                                    id="submit"
                                    value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}