{% extends 'cites/base.html' %}

{% block title %}Create Story{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h2 class="card-header">
                        Create A New Story
                    </h2>
                    <div class="card-body">
                        <form action="" method="post" ></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}